In [7]:
import pandas as pd

# Load dataset
df = pd.read_csv("bnpl_dataset.csv")

# Display basic info
print("Dataset Shape:", df.shape)
print("\nFirst 5 rows:")
print(df.head())
print("\nColumns and Data Types:")
print(df.info())

Dataset Shape: (50000, 9)

First 5 rows:
                         Transaction_ID  Customer_Age Gender  Annual_Income  \
0  6cbfd4e5-8e91-4a7b-8a14-e3dfa86a3359            56   Male          32293
1  863e8aa6-847e-4ae0-b96b-65241f3450a2            46   Male          72774
2  a24efee2-16f2-42dc-a0e7-6df4960df0b8            32   Male          82207
3  bbad847a-a92f-4766-ba3f-98b9b199b4cf            60   Male          92498
4  3f1b1928-09ca-4d06-8ec3-4efd3468d0ec            25   Male          32060

   Credit_Score Purchase_Category BNPL_Provider  Purchase_Amount  \
0           353            Beauty        Sezzle              249
1           354         Groceries        Affirm              188
2           630            Travel        Sezzle             1610
3           470           Fashion        Sezzle              120
4           502            Travel        Klarna             1849

  Repayment_Status
0        Defaulted
1     Paid On Time
2     Paid On Time
3     Paid On Time
4     Paid On Time

Columns and Data Types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Transaction_ID     50000 non-null  object
 1   Customer_Age       50000 non-null  int64
 2   Gender             50000 non-null  object
 3   Annual_Income      50000 non-null  int64
 4   Credit_Score       50000 non-null  int64
 5   Purchase_Category  50000 non-null  object
 6   BNPL_Provider      50000 non-null  object
 7   Purchase_Amount    50000 non-null  int64
 8   Repayment_Status   50000 non-null  object
dtypes: int64(4), object(5)
memory usage: 3.4+ MB
None